html, body {
    padding: 0;
    border: 0;
    margin: 0;
    font-size: 100%;
    font: inherit;
}

body {
    font-family: verdana, arial, helvetica, sans-serif;
}

.nav {
    text-align: center;
}

.nav li {
    display: inline;
    font-size: 20px;
    font-weight: bold;
    margin-right: 40px;
    margin-left: 40px;
}

.nav a {
    text-decoration: none;
}

.header {
    background-color: #FFD700;
    padding-top: 2px;
    padding-bottom: 2px;
    border-width: 0 0 1px;
    border-color: #e7e7e7;
}

.header a {
    color: black;
}

.main {
    width: 900px;
    height: 900px;
    margin: 0 auto 0 auto;
}

.footer img {
    width: 50px;
}

.footer li {
    display: inline;
    padding-left: 50px;
}

.footer {
    background-color: #FFD700;
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    text-align: center;
}

.cv img {
    width: 60px;
    height: 60px;
    float: left;
    padding-right: 10px;
}

.cv ul {
    padding-left: 0;
}

.cv li {
    list-style-type: none;
    border-bottom: 1px solid #FFD700;
    text-align: justify;
}

.me {
    text-align: justify;
}

.me img{
    float: left;
    padding-right: 10px;
}

.courses img {
    float: left;
    width: 170px;
    height: 210px;
    padding-right: 10px;
    padding-bottom: 10px;
}